/* You can add global styles to this file, and also import other style files */
body.theme-dark {
  background-color: #121212;
  color: #f8f9fa;
}

body.theme-dark .card {
  background-color: #1e1e1e;
  color: #f8f9fa;
}

body.theme-dark .navbar {
  background-color: #000 !important;
}

body.theme-dark .form-control,
body.theme-dark .form-select {
  background-color: #1e1e1e;
  color: #f8f9fa;
  border-color: #444;
}

body.theme-dark .table {
  color: #f8f9fa;
}
body.theme-dark .text-muted {
  color: #c0c4cc !important;
}
